.textareaKapsayici {
  height: 100%;
  min-height: 200px;
  background-color: antiquewhite;
  position: relative;
}
.mytextarea {
  height: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
  border: none;
  color: rgb(73, 73, 73);
}
.colorbtnsContainer {
  position: absolute;
  bottom: 0.5rem;
  left: 1rem;
}
.colorbtnsContainer button {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin: 0.3rem;
  border: none;
}

.addbtnContainer {
  position: absolute;
  display: inline;
  bottom: 0.8rem;
  right: 1rem;
}
.addbtn {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background-color: #44c767;
  color: white;
  font-weight: bolder;
  font-size: 1rem;
  padding: 0.4rem 1.2rem;
}
.checked {
  background-image: url(../../tick.png);
  background-size: contain;
  background-position: center center;
}

@media screen and (max-width: 617px) {
  .textareaKapsayici {
    min-width: 300px;
    height: 100%;
  }
  .mytextarea {
    font-size: 1rem;
    min-width: 100%;
    height: 100%;
  }
  .colorbtnsContainer button {
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 50%;
    margin: 0.25rem;
    border: none;
  }
  .addbtnContainer {
    position: absolute;
    display: inline;
    bottom: 0.6rem;
    right: 0.5rem;
  }
  .addbtn {
    cursor: pointer;
    border: none;
    border-radius: 15px;
    background-color: #44c767;
    color: white;
    font-weight: bolder;
    font-size: 1rem;
    padding: 0.4rem 1.2rem;
  }
}

@media screen and (min-width: 617px) {
  .textareaKapsayici {
    min-width: 500px;
  }
  .mytextarea {
    min-width: 500px;
  }
}

@media screen and (min-width: 951px) {
  .textareaKapsayici {
    min-width: 800px;
    min-height: 300px;
  }
  .mytextarea {
    min-width: 800px;
  }
}
